*{
    box-sizing: border-box;
    font-family: 'Courier New', 'Courier', 'monospace';
    
}
body{
    background-color: #A8EB55;
}
.text{
    text-align: center;
   
}
h1{
    text-decoration: underline;
}


input{
    display: flex;
    margin: auto;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border: 3px solid black;
   
}

button{
    display: flex;
    margin: auto;
    padding: 8px;
    border-radius: 90%;
    
}

button:hover{
   background-color: yellow;
}

input:focus::placeholder {
    color: transparent;
  }

.image{
    display: block;
    margin: auto;
    background-color: #A8EB55;
  }

  div.slide-up {
    height:400px;
    overflow:hidden;
  }
  div.slide-up div.inner {
    animation: slide-up 6s;
    margin-top:0%;
   
  }
  
  @keyframes slide-up {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 0%;
    }
  }

